[submodule "wal-go"]
	path = wal-go
	url = https://github.com/rushikeshg25/wal-go
[submodule "loadbalancer"]
	path = loadbalancer
	url = https://github.com/rushikeshg25/loadbalancer
[submodule "tricolor-gc"]
	path = tricolor-gc
	url = https://github.com/rushikeshg25/tricolor-gc
[submodule "token-bucket"]
	path = token-bucket
	url = https://github.com/rushikeshg25/token-bucket
[submodule "p2p-file-sharing"]
	path = p2p-file-sharing
	url = https://github.com/rushikeshg25/p2p-file-sharing
[submodule "bp-tree"]
	path = bp-tree
	url = https://github.com/rushikeshg25/bp-tree.git
[submodule "adaptive-bitrate-streaming"]
	path = adaptive-bitrate-streaming
	url = https://github.com/rushikeshg25/adaptive-bitrate-streaming.git
[submodule "task-scheduler"]
	path = task-scheduler
	url = https://github.com/rushikeshg25/task-scheduler.git
